<div class="container">

  <div class="container px-lg-5">
    <div class="page-title">
    <h1 class="ptitles"> Welcome Admin!</h1>
    </div>
    <div class="row mx-lg-n5 my-5">
      <div class="col-md-12 py-3 px-lg-5 border bg-light">
        {{#each newSurveys}}
          <p>{{this._id}}</p>
          <p>{{this.language}}</p>
          <p>{{this.question}}</p>
          <ul>
            {{#each this.options}}
            <li>{{this}}</li>
            {{/each}}
          </ul>
          <form method="POST" action="/user/admin/approve/{{this._id}}">
            <button class="button">Approve</button>
          </form>
          <form method="POST" action="/user/admin/reject/{{this._id}}">
            <button class="button">Reject</button>
          </form>
          <hr>
        {{/each}}
      </div>
    </div>
  </div>
</div>