<h1 class="register-title">Join the millions of Omnilect!</h1>

{{#if errorMessage}}
<div class="alert alert-danger">
  ERROR: {{errorMessage}}
</div>
{{/if}}
{{#if message}}
<div class="alert alert-success">
  {{message}}
</div>
{{/if}}

  <form method="POST" action="/user/register" class="registration-sections">
<div id="section-data">

    <div class="form-group">
      <label for="register-email">Enter your email</label>
      <input class="inputfield" type="email" name="email" id="register-email" placeholder="e-mail address" required />
    </div>
    <div class="form-group">
      <label for="register-password">Choose a password</label>
      <input class="inputfield" type="password" name="password" id="register-password" placeholder="A safe one" required />
    </div>
    <div class="form-group">
      <label for="register-human-name">Your name</label>
      <input class="inputfield" type="text" name="humanName" id="register-human-name" placeholder="e.g. Noam Chomsky" />
    </div>
    <div class="form-group">
      <label for="register-language">Language of interest:</label>
      <select id="register-language" name="language">
        {{#each languages}}
        <option value="{{this}}">{{this}}</option>
        {{/each}}
      </select>
    </div>
    <div class="form-group">
      <label for="register-role">Where did you learn <span id="selected-language">your language of interest</span>?
        Drag/zoom the map to move the marker.</label></div>
  <button class="button">JOIN NOW</button>
</div>

<div id="section-map">

    <label for="register-latitude">Latitude: </label><input class="inputfield" readonly id="register-latitude" name="latitude" />
    <label for="register-longitude">Longitude: </label><input class="inputfield" readonly id="register-longitude" name="longitude">
    <div id="map"></div>

</div>

</form>

<script src="https://maps.googleapis.com/maps/api/js?key={{googMapsApiKey}}"></script>
<script type="text/javascript" src="/scripts/registerMap.js"></script>