<div class="container">

  <div class="container px-lg-5">
    <div class="page-title">
    <h1 class="ptitles"> Welcome{{#if name}}, {{name}}{{/if}}!</h1>
   <a href="/survey/makeSurvey"><button class="button2"><h4>Create your own Survey </h4></button></a>
    </div>
    <div class="row mx-lg-n5 my-5">
      <div class="col-md-6 py-3 px-lg-5 border bg-light">

        <h2>Your available {{language}} surveys</h2>
        {{#unless availableSurveys}}
        <p>No surveys available, sorry!</p>
        {{/unless}}
        {{#each availableSurveys}}
        <a href="/survey/{{this._id}}"><button class="button">{{this.question}}</button></a>
        {{/each}}

      </div>

      <div class="col-md-6 py-3 px-lg-5 border bg-light">
        <h2 id="filter-header">All surveys</h2>
        <div class="form-group">
          <label for="filter-language">Filter by language: </label>
          <select id="filter-language" name="language">
            {{#each filters}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
          </select>
        </div>
        
        <div id="surveys-list">
          {{#each allSurveys}}
          <a href="/survey/{{this._id}}"><button class="button">{{this.question}}</button></a>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const allSurveysJSON = {{{allSurveysJSON}}};
  let language = "All languages";
  const $header = document.getElementById("filter-header")
  const $filter = document.getElementById("filter-language");
  const $list = document.getElementById("surveys-list");
  $filter.addEventListener('change', () => {
    language = $filter.value;
    // Destroy list of surveys
    $list.innerHTML = '';
    let surveysToRender;
    if(language !== "All languages") {
      // Collect only one language's surveys
      surveysToRender = allSurveysJSON.filter(s => s.language === language);
      $header.innerText = `${language} surveys`;
    } else {
      // Collect all language surveys
      surveysToRender = allSurveysJSON;
      $header.innerText = `All surveys`;
    }
    // Render the surveys
    for (let survey of surveysToRender) {
      $list.innerHTML += `<a href="/survey/${survey._id}"><button class="button">${survey.question}</button></a>\n`;
    }
  })
</script>